@import url('https://wallpapers.com/images/hd/red-color-background-1qnxrtndtcoy5ql6.jpg');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Afacad, sans-serif;
    line-height: 1.6;
}

#container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #de7c1acc;
    color: rgb(231, 234, 235);
    text-align: center;
    padding: 10px 0;
    z-index: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #ddd;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items:center;
   justify-content: center;
   background: url('https://wallpapers.com/images/hd/red-color-background-1qnxrtndtcoy5ql6.jpg');
   background-position: center;
}

header > p {
    font-size: 60px;
    padding-left: 20px;
    
}

#profile-pic {
    width: 250px;
    height: 250px;
    justify-content: end;
    border-radius: 50%;
    box-shadow: 0 0 10p  x #444444;
    border: 10px solid rgb(238, 235, 231);
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

section > h2 {
    color: #0dc072;
    text-align: left;
}

section > p {
    font-size: 20px;
}

#about {
    margin-top: 100vh;
}

.photo-grid {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
}

.photo-grid img {
    flex: 0 0 auto;
    width: auto;
    height: 300px;
    border: 1px solid #ddd;
}

.photo-grid::-webkit-scrollbar {
    display: none;
}

.photo-grid {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.project {
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

td img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

table th:first-child, table td:first-child {
    width: 15%;
}

table th:nth-child(2), table td:nth-child(2) {
    width: calc(100% - 15%);
}
@media screen and (max-width: 600px) {
    table {
        display: block;
        overflow:100px;;
    }
}

@media (max-width: 100px) {
    .photo-grid {
        grid-template-columns: 1fr;
    }
}
